
.screen {
  width: 1920px;          /* ширина блока */
  height: 750px;          /* высота блока */
  transform: rotate(0deg);/* угол поворота */
  opacity: 1;             /* прозрачность */
}
/* Родительский блок — как экран в Figma */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px 0px; /* 20px сверху/снизу и 60px слева/справа */

}

.container img {
  width: 240px;
  height: 260px;
  object-fit: cover;
}


/* Картинки со своими размерами и позициями */
.img1 {
  width: 240px;
  height: 135px;
  transform: rotate(0deg);
  opacity: 1;
  top: 82px;
  left: 390px;
  
}

.img2 {
  width: 240px;
  height: 135px;
  transform: rotate(0deg);
  opacity: 1;
  top: 82px;
  left: 690px;
  
}

.img3 {
  width: 240px;
height: 135px;
transform: rotate(0deg);
opacity: 1;
top: 82px;
left: 990px;

}

.img4 {
  width: 240px;
  height: 135px;
  transform: rotate(0deg);
  opacity: 1;
  top: 82px;
  left: 1290px;
  
}

.img5 {
  width: 240px;
  height: 135px;
  transform: rotate(0deg);
  opacity: 1;
  top: 402px;
  left: 390px;
  
}

.img6 {
  width: 240px;
  height: 135px;
  transform: rotate(0deg);
  opacity: 1;
  top: 402px;
  left: 690px;
  
}

.img7 {
  width: 240px;
  height: 135px;
  transform: rotate(0deg);
  opacity: 1;
  top: 402px;
  left: 990px;
}

